<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <import resource="spring.xml"/>


    <!-- 定义一个scheduler, 该scheduler提供执行定时任务的线程,线程池的大小为10 -->
    <task:scheduler id="scheduler" pool-size="10"/>
    <!-- 定义需要定时操作的方法和调度周期 -->
    <task:scheduled-tasks scheduler="scheduler">
        <!--
            定义执行对象、方法和调度周期
            每秒执行一次对象 schedulerLauncher 的 launch 方法
        -->
        <task:scheduled ref="schedulerLauncher" method="launch" fixed-rate="1000"/>
    </task:scheduled-tasks>

    <!-- 定义定时任务执行的对象 -->
    <bean id="schedulerLauncher" class="org.sangaizhi.springbatch.schedule.SchedulerLauncher">
        <property name="job" ref="scheduleJob"></property>
        <property name="jobLauncher" ref="jobLauncher"/>
    </bean>

    <!-- 定义定时任务执行对象需要执行的 Job -->
    <batch:job id="scheduleJob">
        <batch:step id="scheduleStep">
            <batch:tasklet transaction-manager="txManager">
                <bean class="org.sangaizhi.springbatch.schedule.HelloTasklet" />
            </batch:tasklet>
        </batch:step>
    </batch:job>


</beans>